.container {
position: absolute;
width: 336px;
height: 236px;
left: 408px;
top: 232px;
border: 1px solid #C4C4C4;
box-sizing: border-box;
border-radius: 10px;
}

.yellow {
    position: absolute;
    width: 336px;
    height: 28px;
    left: 408px;
    top: 232px;
    
    background: #FFDC40;
}