@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.container {
    /* position: absolute; */
    display: block;
    flex-direction: column;
    width: 336px;
    /* height: 236px; */
    left: 408px;
    top: 232px;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 10px;

}

.yellow {
    /* position: relative; */
    width: 334px;
    height: 32px;
    left: 408px;
    top: 232px;
    background: #FFDC40;
    margin: 0 0 0 0;
    display: block;
    border-radius: 10px 10px 0 0;
}

.afterList {
    margin-bottom: 12px;
}

h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 26px;
    line-height: 30px;
    text-align: center;
}

.underYellow {
    display:flex;    
    flex-direction: column;
}


.grayB {
    /* display: none; */
    width: 25px;
    height: 15px;
    background: url(pic/Group74.svg);
    border: none;
    align-self: flex-end;
    margin: 0 40px 9px 0;
}

.grayB:hover {
    /* display: none; */
    width: 25px;
    height: 15px;
    background: url(pic/BlackGroup.svg);
    border: none;
    align-self: flex-end;
    margin: 0 40px 9px 0;
}

.grayBsort:hover {
    /* display: none; */
    width: 25px;
    height: 15px;
    background: url(pic/BlackGroupUP.svg);
    border: none;
    align-self: flex-end;
    margin: 0 40px 9px 0;
}

.grayBsort {
    /* display: none; */
    width: 25px;
    height: 15px;
    background: url(pic/GroupUpGray.svg);
    border: none;
    align-self: flex-end;
    margin: 0 40px 9px 0;
}


.knopkaAdd {
    width: 150px;
    height: 42px;
    background-color: #833AE0;
    border-radius: 71px;
    align-self: center;
    display: flex;
    /* padding: 0; */
    outline: none;
    margin: 0 93px 19px 93px;
    border: none;
    padding: 0 0 15px 0;
}

.add {
    padding: 0 0 0 13px;
    color: white;
}

.plus {
    width: 42px;
    height: 42px; 
    background: #9953F1;
    border-radius: 71px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center
    
}

.afterList {
    display: flex;    
    flex-direction: column;
    /* align-items: flex-end; */
}

.do {
    width: 286px;
    height: 40px;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 0 0 5px 0;
}
.do {
    margin-bottom: 15px;

}
.buttonDelete {
    border-radius: 50%;
    border: 1px solid #C4C4C4;
    background-color: white;
    color: #C4C4C4;
    font-size: 16px;
    width: 23px;
    height: 23px;
    margin: 10px 0 0 -40px;
    outline: none;
    align-items: center;
}
.buttonDelete:hover {
    border-radius: 50%;
    border: 1px solid #C4C4C4;
    background-color:#9953F1;
    color: white;
    font-size: 16px;
    width: 23px;
    height: 23px;
    margin: 10px 0 0 -40px;
    outline: none;
}

ul.menu {
    /* box-sizing: border-box; */
    padding: 0 0 0 20px;
    display: flex;
}

li {
    list-style-type: none;
}
